/***** defining all needed ***/

/*

coding since 4/3/2020

developer berking da quan

colors :

#659dbd // back
#8d8741 // footer color
#daad86 //unknown
#bc986a // fd
#fbeec1 // other

*/

/*** basics  ***/

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    background: #bc986a34;
}

body::selection {
    background: #659dbd;
    color: #fbeec1;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #659dbd;
    color: #fbeec1;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

/**** End of basics ****/

/********    start of the header      ************/


.headbox {
    display: flex;
    flex-direction: row;
    background: #bc986a5d;
    align-items: center;
    color: #554024;
    justify-content: space-evenly;
    /*border-bottom: 3px solid black;*/

}

.auth__user, .not-auth__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.auth__user p {
    margin: 0 1rem;
}

.auth__user a, .not-auth__user a {
    text-decoration: none;
    /*color: #fbeec1;*/
    color: #554024;
    font-size: 1.3rem;
    font-weight: 600;
}

.logo_box {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    text-decoration: none;
    color: unset;
}

.nav-link {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbeec1;
}

.nav__link__ul li {
    display: inline-block;
}

.nav__link__ul li a {
    text-decoration: none;
    color: #fbeec1;
    font-size: .85rem;
    margin: .2rem;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    /*color: #fbeec1;*/
    color: #554024;
}

.logo {
    display: flex;
    position: relative;
    align-items: center;
    left: .5rem;
    height: 2.3rem;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: .5rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}



/***** End of the header style *****/



/**** start of the article style ****/
.container {
    color: #554024;
    width: 95%;
    margin: 1rem auto;
}

.hiden {
    display: none;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    margin: .3rem 0 .3rem 0;
}

.line {
    width: 85%;
    margin: 0 auto .3rem auto;
    position: relative;
    top: .3rem;
    opacity: 50%;
    color: #554024;
}

.song__name {
    font-size: 1rem;
    margin-bottom: .1rem;
    text-transform: capitalize;
}

.song_time {
    font-size: small;
}

.time_of_upload {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.song__artist {
    font-size: .9rem;
    margin-bottom: .3rem;
    text-transform: capitalize;
}

.song__genre {
    margin-top: .3rem;
}

.card_box {
    padding: 1rem;
    border-radius: 5px;
    margin: 1.5rem 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.card_box a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    text-transform: inherit;
}

.song_name, .artist, .genre {
    text-transform: capitalize;
}

.artist {
    font-weight: 400;
}

.song_name {
    font-size: 1.2rem;
    font-weight: bold;
}

.genre {
    font-weight: 600;
}

.preview {
    text-transform: lowercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn__prev, .btn__next {
    border: 1px solid #554024;
    padding: .3% .8%;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    margin: 0 5%;
}
.page__number {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
    background-color: #554024;
    color: #fbeec1;
    border-radius: 3px;
    padding: .125% 1%;
}


/**** End of the article style ****/



/**** start of the footer style ****/

.footer {
    margin: 3rem 0 1rem;
    color: #554024;
}

.copyright {
    margin-top: 2rem;
}

.copy { text-align: center; margin-top: 2rem; }
.summary { text-align: center; }
.social-list li { display: inline-block; }
.social-list li { margin: 0 1rem; }
.icon { width: 1.5rem; }
.soc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc > li a {
    color: black;
}
/**** End of the footer style ****/





/*******start of the lyrics page ***/
.header__lyrics {
    text-align: center;
    margin-top: .5rem;
}

h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
}
.lyrics__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyrics {
    padding: 1rem;
    font-size: 16px;
    text-transform: lowercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lyrics__box {
    background: #659dbd25;
    margin-top: .5rem;
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

.second__header {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.artist__name { font-family: 'Raleway', sans-serif; font-weight: 600; }

.suggestion {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 9rem 9rem;
    margin-bottom: -2rem;
}

.sugge_head {
    text-transform: capitalize;
}

.suggestion__header {
    margin-top: .4rem;
    margin-bottom: -1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'lato', sans-serif;
    font-weight: 200;
}

.suggesstion__box {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sugge {
    text-align: center;
}

.uploader {
    text-align: center;
    font-size: small;
    margin: .3rem 0 -.1rem 0;
}
/******* end of the lyrics page styles ****/

/***** start of the about page styles *****/
.who {
    margin-top: .5rem;
}

.contact {
    margin-top: 1rem;
    font-size: medium;
}

.box {
    margin-bottom: -2rem;
}

.box h1 {
    margin-bottom: 1.5rem;
}

.h {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .4rem;
}
/***** end of the about page styles *****/

/***** start of the login page styles *****/

.form {
    margin: 3rem auto;
    width: 30%;
}

form {
    border-radius: .5rem;
    margin-top: .5rem;
    padding: 1.5rem 10%;
    box-shadow: 0px 0px 2rem 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-content {
    font-size: 1.1rem;
}

.form h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form label, form input {
    display: block;
    margin: .3rem 0;
}

form label {
    font-weight: 400;
    font-size: 1.1rem;
    margin: .5rem 0;
}

form input,
form input:hover,
form input:focus,
form input:active {
    border: none;
    outline: none;
}

form input {
    padding: .5rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'nunito', sans-serif;
    background-color: #bc986a35;
    border-radius: .5rem;
}

.btn {
    width: 70%;
    margin-top: .8rem;
    font-size: 1rem;
}

.main__btn {
    background-color: #2013038e;
    color: #fbeec1;
}

.or {
    color: #554024;
    font-family: fantasy;
    margin-bottom: .4rem;
}

.sec-btn {
    margin: 0 0rem 1rem 0;
    text-decoration: none;
    color: #8d8741;
}

.title {
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
}

select > option {
    border: none;
}

/**** following rules prevent user from copying text on somewords. **/
/***** end of the login page styles *****/
