@media (max-width: 480px) {
    .logo {
        font-size: 1.3rem;
        left: -.1rem;
    }

    .logo_box {
        width: 10%;
    }

    .form {
        width: 100%;
        margin-top: -.3rem;
    }

    .form h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .alert__box, .message__box {
        padding: .8rem 1rem;
        margin: 0 auto 1rem;
        border-radius: .2rem;
    }
    
    .alert__box, .message__box {
        width: 100%;
    }

    .auth__user p.links__text {
        margin: 0 .2rem 0;
    }
    
    .auth__user {
        width: 50%;
        margin-right: -3rem;
    }

    .not-auth__user {
        margin: 0 0 0 5rem;
    }

    .pagination ul li {
        display: inline-block;
        margin: 0 .2rem;
    }
}