/************* following style rules *************/
/************* Berking Da Quan *************/
/************* 28/3/2020 - 21:26' **************/
/******* start of admin page style *******/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.dashboard {
    width: 90%;
    text-align: center;
    margin: 1rem auto -2rem;
}

.song__box {
    margin: 2rem 0;
}

/* designing the table for displaying the lyrics 
  --table
*/

table {
    border-collapse: separate;
    width: 100%;
}

.table__element__small {
    width: 5%;
    text-align: left;
    padding-left: .3rem;
}

.action {
    text-align: center;
    padding: 0;
    width: 2%;
}

.table__element {
    width: 15%;
}

.table__element__song-name {
    width: 45%;
}

.table__element, .table__element__song-name {
    width: 20%;
    text-align: left;
    padding-left: .3rem;
    font-size: 1.2rem;
}

thead td {
    padding-left: .3rem;
}

thead tr {
    background-color: #659dbd;
    color: #fff;
    padding-left: .3rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

tr:hover:not(thead tr) {
    background-color: #659dbda8;
    color: #fff;
}
/*
td {
    border: solid rgba(0, 0, 0, 0.3) .1rem;
}

/* end of the table design */

.action__btn {
    text-decoration: underline;
}

.admin_action_panel {
    color: #554024;
    border-radius: 5px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_action_panel ul li {
    display: inline-block;
    list-style: none;
}

.simple__btn__danger,
.simple__btn__cool {
    border: none;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #554024;
    font-weight: 600;
    text-transform: capitalize;
}

.simple__btn__cool i {
    color: green;
}
.simple__btn__danger i {
    color: red;
}

.text {
    margin-right: .3rem;
}

.song_link {
    max-width: 560px;
    width: 95%;
    margin: 1rem auto;
    height: 315px;
}

a.ytp-title-channel-logo {
    display: none;
}

iframe {
    height: 100%;
    width: 100%;
}

p.welcome__message {
    font-size: 1.2rem;
}

/******* end of admin page style ******/

/***** alert box and messages ******/

.alert__box, .message__box {
    padding: 1rem 3rem;
    margin: 0 auto;
    border-radius: .2rem;
}

.alert__box {
    width: 30%;
}
.message__box {
    width: 100%;
}

.alert__box-errors, .message__box-errors {
    background-color: rgba(255, 0, 0, 0.15);
    color: rgb(100, 0, 0);
}

.alert__box-success, .message__box-success {
    background-color: rgba(0, 100, 0, 0.15);
    color: rgb(0, 100, 0);
}